@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

h1, h2 {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #2d2d2d
}

#logo {
    font-size: 300%;
    color: #7d97ad;
    margin-left: 10px;
    margin-top: 10px;
}

/* navigation links */

.nav {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    font-size: 110%;
    letter-spacing: 3px;  
    line-height: 75px; 
    padding: 10px;
}

/* border-bottom on active page */

.push {
    margin-left: auto;
}

.active {
    border-bottom: 1px solid #7d97ad;
}

.nav li {
    margin-right: 30px;
}

.nav a {
    text-decoration: none;
    color: #7d97ad;
}

.nav a:hover {
    border-bottom: 1px solid #3a3a3a;;
}

/* hero background image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    background-color: #8fbca6;
    background-size: cover;

    /* animate zoom effect on page load */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* text on top of hero image*/

.hero-title {
    font-size: 3rem;
}
.hero-subscribe {
    font-size: 1rem;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.hero-subscribe:hover {
    color: #8fbca6;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

/* hero zoom */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Ethos */

#ethos {
    margin: 30px;
}

.ethos {
    text-align: center;
    padding: 30px 30px 0 30px;
    font-size: 3rem;
}

p {
    padding: 10px 30px;
    text-align: justify;
}

.foundations {
    text-align: center;
    font-size: 3rem;
    padding: 0 30px 30px 30px;
}

.foundations-container {
    display: flex;
    text-align: center;
  }

.top {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.bottom {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

#move-container {
    height: 300px;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/move.webp') no-repeat center center;
    background-color: #8fbca6;
}

#nourish-container {
    height: 300px;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/nourish.webp') no-repeat center center;
    background-color: #8fbca6;
}

#rest-container {
    height: 300px;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/rest.webp') no-repeat center center;
    background-color: #8fbca6;
}

#think-container {
    height: 300px;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/think.webp') no-repeat center center;
    background-color: #8fbca6;
}

.box {
    width: 100%;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.box:hover {
    color: #8fbca6;
}

/* footer */

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-tiktok:hover {
    color: #5f9f80;
}
.fab {
    color: #3a3a3a;
}
/* footer styling */
#footer {
    background-color: #acbdcb;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0 0 0;
    color: #ffffff;
}

#email {
    text-align: center;
    text-decoration: none;
    padding: 0;
    color: #3a3a3a;
    font-size: 1.25rem;
}

#email:hover {
    color: #5f9f80;
}

/* Explore Page */

#explore-heading {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}

#explore-container {
    flex-wrap: wrap;
    background-color: #8fbca6;
}

.container {
    display: flex;
    border: 2px none #ccc;
    border-radius: 5px;
    margin-left: 20%;
    margin-right:20%;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

/* Clear floats after containers */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image */
.container img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

/* Increase the font-size of a span element */
.container span {
    font-size: 20px;
    margin-right: 15px;
    color: #ffffff;
}

#reverse-row {
    flex-direction: row-reverse;
}

#forward-row {
    flex-direction: row;
}

/* Contact Form Page */

.form-section {
    clear: left;
    background: url("../images/form-background.webp");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;  
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;

/* Media Queries */

@media screen and (min-width: 930px) {
    .box {
      width: 300px;
    }
  }

  @media screen and (max-width: 930px) {
    .nav {
        justify-content: center;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        width: 300px;
    }
    .push {
        margin-left: 10px;
    }
  }

  @media screen and (max-width: 440px){
    .foundations-container {
        display: flex;
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
      }
  }

  @media screen and (max-width: 927px) {
    .foundations-container {
        display: flex;
        text-align: center;
      }
  }

  @media (max-width: 500px) {
    .container {
      text-align: center;
    }
  
    .container img {
      margin: auto;
      float: none;
      display: block;
    }
  }