@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

h1, h2 {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #2d2d2d
}

#logo {
    font-size: 300%;
    color: #7d97ad;
}

/* navigation links */

.nav {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    font-size: 110%;
    letter-spacing: 3px;  
    line-height: 75px; 
}

/* border-bottom on active page */

.push {
    margin-left: auto;
    border-bottom: 1px solid #7d97ad;
}

.nav li {
    margin-right: 30px;
}

.nav a {
    text-decoration: none;
    color: #7d97ad;
}

.nav a:hover {
    border-bottom: 1px solid #7d97ad;
}

/* hero background image */

#hero-outer {
    height:600px;
    width: 100%;
    overflow:hidden;
}

.hero-image {
    height:600px;
    width: 100%;
    background: url('../images/pexels-julia-volk-7292969.jpg') no-repeat center center;
    background-color: #8fbc8f;
    background-size: cover;

    /* animate zoom effect on page load */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* text on top of hero image*/

.hero_title {
    font-size: 4rem;
}
.hero_subscribe {
    font-size: 1rem;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

/* hero zoom */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Club Ethos */

.ethos {
    color: #7d97ad;
    font-size: 30px;
}

ethos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }