@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

h1, h2 {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #2d2d2d
}

#logo {
    font-size: 300%;
    color: #7d97ad;
    margin-left: 30px;
}

/* navigation links */

.nav {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    font-size: 110%;
    letter-spacing: 3px;  
    line-height: 75px; 
}

/* border-bottom on active page */

.push {
    margin-left: auto;
    border-bottom: 1px solid #7d97ad;
}

.nav li {
    margin-right: 30px;
}

.nav a {
    text-decoration: none;
    color: #7d97ad;
}

.nav a:hover {
    border-bottom: 1px solid #7d97ad;
}

/* hero background image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    background-color: #8fbc8f;
    background-size: cover;

    /* animate zoom effect on page load */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* text on top of hero image*/

.hero-title {
    font-size: 3rem;
}
.hero-subscribe {
    font-size: 1rem;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.hero-subscribe:hover {
    color: #8fbc8f;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

/* hero zoom */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Ethos */

#ethos {
    margin: 30px;
}

.ethos {
    text-align: center;
    padding: 30px 30px 0 30px;
    font-size: 3rem;
}

p {
    padding: 10px 30px;
    text-align: justify;
}

.foundations {
    text-align: center;
    font-size: 3rem;
    padding: 0 0 30px 0;
}

.foundations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: space-between;
    text-align: center;
  }

#move-container {
    height: 300px;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/move.webp') no-repeat center center;
    background-color: #8fbc8f;
}

#nourish-container {
    height: 300px;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/nourish.webp') no-repeat center center;
    background-color: #8fbc8f;
}

#rest-container {
    height: 300px;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/rest.webp') no-repeat center center;
    background-color: #8fbc8f;
}

#think-container {
    height: 300px;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/think.webp') no-repeat center center;
    background-color: #8fbc8f;
}

.box {
    width: 100%;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.box:hover {
    color: #8fbc8f;
}

@media screen and (min-width: 930px) {
    .box {
      width: 300px;
    }
  }

/* footer */

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-tiktok:hover {
    color: #8fbc8f;
}
.fab {
    color: #3a3a3a;
}
/* footer styling */
#footer {
    background-color: #7d97ad;
    text-align: center;
    margin-top: 30px;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0 0 0;
}

#email {
    text-align: center;
    text-decoration: none;
    padding: 0;
    color: #ffffff;
}

#email:hover {
    color: #8fbc8f;
}